//Import all .scss files here
@import "components/mainview/MainView";
@import "Lib";

body {
  margin: 20px;
  font-family: $default-font;
}

//EVERYTHING is in here
#content{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  color: $primary-color;
  font-family: $header-font;
}

header.tab-navigation {
  border-bottom: solid 1px $secondary-color;
  .tab a {
    display: inline-block;
    text-decoration: none;
    color: $text-on-secondary-color;
    padding: $standard-padding;
    margin-right: 5px;
    border: solid $secondary-color;
    border-width: 1px 1px 0 1px;
    //An active Tab
    &.active-tab {
      font-weight: bold;
      background-color: $secondary-color-light;
      border-color: $secondary-color-light;
    }
  }
}

//The header of the components, containing searchbar etc
.header {
  height: 100px;
}

//The mainregion
main .mid-region {
  display: flex;
  align-items: center;
  //The charts
  .chart{
    display: inline-block;
    width: 50%;
  }
}
