$default-font: 'Roboto', sans-serif;
$header-font: 'Roboto Slab', serif;
$black: #000;
$white: #fff;
$light-gray: #ddd;
$sidebar-width: 30%;
$standard-padding: 10px;
$primary-color: #263238;
$primary-color-light: #4f5b62;
$primary-color-dark: #000a12;
$text-on-primary-color: #ffffff;
$secondary-color: #212121;
$secondary-color-light: #484848;
$secondary-color-dark: #000000;
$text-on-secondary-color: #ffffff;
