@import "../../Lib";

.year-slider{
  position: absolute;
  width: 100%;
  bottom: 0;

  //Overwrite color
  .rangeslider-horizontal .rangeslider__fill{
    background-color: $secondary-color;
  }
  .rangeslider-horizontal .rangeslider__handle:after{
    width: 0;
    height: 0;
  }
  .rangeslider__labels .rangeslider__label-item{
    top: 0;
  }
}